.wrapper {
  text-align: center;
  max-width: 1400px;
}

.loading-bar__container {
  width: 100%;
}

.loading-bar {
  display: block;
  height: 15px;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.loading-bar__inner {
  width: 25%; /* Update this after making progress on the real portfolio */
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  animation: loading 4s ease-in-out;
  overflow: hidden;
}

.loading-bar__inner::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  background: repeating-linear-gradient(45deg,#000 0 15px,#0000 0 20px) right/250% 100%;
  animation: loading 12s infinite linear;
  opacity: 0.2;
}

@keyframes loading {
  100% {background-position:left}
}

.loading-bar__values {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-block-start: 0.25rem;
  font-family: "Source Code Pro", system-ui, monospace;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.text-blurb {
  padding-inline: 4rem;
}

.tenor-gif-embed {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 2rem;
  pointer-events: none;
}

@media all and (max-width: 600px) {
  .text-blurb {
    padding-inline: 0;
  }
}